Automatización N8N/templates/sales_v1.json
{
    "name": "{{EMPRESA_NOMBRE}} - Agente de Ventas",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "agent-{{AGENTE_ID}}",
                "responseMode": "responseNode",
                "options": {}
            },
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                60,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $env.SUPABASE_URL }}/rest/v1/leads?on_conflict=telefono,agente_id",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
                        },
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
                        },
                        {
                            "name": "Prefer",
                            "value": "resolution=merge-duplicates,return=representation"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"telefono\": \"{{ $json.body.telefono }}\",\n  \"nombre\": \"{{ $json.body.nombre || '' }}\",\n  \"cliente_id\": \"{{CLIENTE_ID}}\",\n  \"agente_id\": \"{{AGENTE_ID}}\",\n  \"score_interes\": 50,\n  \"estado\": \"nuevo\",\n  \"ultimo_contacto\": \"{{ new Date().toISOString() }}\"\n}",
                "options": {
                    "allowUnauthorizedCerts": false
                }
            },
            "name": "Upsert Lead",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                280,
                300
            ],
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $env.SUPABASE_URL }}/rest/v1/logs_conversacion",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
                        },
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"lead_id\": \"{{ $('Upsert Lead').item.json[0] ? $('Upsert Lead').item.json[0].id : $('Upsert Lead').item.json.id }}\",\n  \"agente_id\": \"{{AGENTE_ID}}\",\n  \"cliente_id\": \"{{CLIENTE_ID}}\",\n  \"contenido\": \"{{ $('Webhook').item.json.body.mensaje }}\",\n  \"direccion\": \"entrante\",\n  \"tipo_mensaje\": \"texto\"\n}"
            },
            "name": "Log User Message",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                500,
                300
            ]
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $('Webhook').item.json.body.mensaje }}",
                "options": {
                    "systemMessage": "{{PROMPT_SISTEMA}}"
                }
            },
            "name": "AI Agent",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 2,
            "position": [
                720,
                300
            ]
        },
        {
            "parameters": {
                "modelName": "models/gemini-2.5-flash"
            },
            "name": "Google Gemini Chat Model",
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                720,
                520
            ],
            "credentials": {
                "googlePalmApi": {
                    "id": "mQZ7nlYwneeMnEW6",
                    "name": "Google Gemini account"
                }
            }
        },
        {
            "parameters": {
                "sessionIdType": "customKey",
                "sessionKey": "={{ $('Webhook').item.json.body.telefono }}",
                "contextWindowLength": 15
            },
            "name": "Window Buffer Memory",
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "typeVersion": 1.3,
            "position": [
                860,
                520
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $env.SUPABASE_URL }}/rest/v1/logs_conversacion",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
                        },
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"lead_id\": \"{{ $('Upsert Lead').item.json[0] ? $('Upsert Lead').item.json[0].id : $('Upsert Lead').item.json.id }}\",\n  \"agente_id\": \"{{AGENTE_ID}}\",\n  \"cliente_id\": \"{{CLIENTE_ID}}\",\n  \"contenido\": \"{{ $json.output || $json.text }}\",\n  \"direccion\": \"saliente\",\n  \"tipo_mensaje\": \"texto\"\n}"
            },
            "name": "Log Conversation",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1080,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"response\": \"{{ $('AI Agent').item.json.output }}\"\n}",
                "options": {}
            },
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1300,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Upsert Lead",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Upsert Lead": {
            "main": [
                [
                    {
                        "node": "Log User Message",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Log User Message": {
            "main": [
                [
                    {
                        "node": "AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent": {
            "main": [
                [
                    {
                        "node": "Log Conversation",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Log Conversation": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Gemini Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Window Buffer Memory": {
            "ai_memory": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "saveDataSuccessExecution": "all"
    }
}